---
title: funtimes

img_title: this is dino

sections:
 - one
 - two
 - three
 - four
 - five
---

# hello world

lorum ipsum

lorum

<%= partial "print_sections" %>


go here [google](google.com) for funtimes

![trex](/assets/img/trex.jpg)

<div class="dino">
  <h2><%= current_page.data.img_title %></h2>
  <img src="/assets/img/trex.jpg">
</div>
